body {
  font-family: verdana;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.container {
  border: 5px solid #12b730;
  padding: 60px;
  background-color: #e2b08a;
}
h1 {
  text-align: center;
}
h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.am {
  margin-left: 100px;
  margin-right: 100px;
  text-align: left;
  border: 5px solid #12b730;
  padding: 60px;
  background-color: #e2b08a;
}
p {
  text-indent: 50px;
}
.projects {
  margin-left: 100px;
}
